name: Prettier

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install --save-dev eslint-config-prettier

      - name: Run Prettier
        run: npx prettier --write .